body
{
    background: aliceblue;
    margin: 0px;
}
header{
    background:aqua; height: 50px;
}
article{
    display: flex; background:blueviolet;
    height:200px
}
footer{
background:burlywood;height:150px;width:30%
}
#div1{
    background: blue;height:50px;width:30%
}
#div2{
    background: red;height:150px;width:30%
}
#div3{
    background: black;height:70px;width:30%
}