@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
#head {
    transition: 300ms;
    background: url('img/channels4_banner.jpg') 54% center/cover no-repeat;
    height: 300px;
}

@keyframes left {
    from {
        margin-left: 2000px;
    }
    to {
        margin-left: 0;
    }
}

#highbar nav ul {
    list-style: none;
}

#highbar nav {
    width: fit-content;
    margin: 0 auto;
}

ul {
    padding-inline-start: 0px;
}

#highbar {
    transition: 300ms;
    width: 100%;
    padding: 1px;
    background-color: rgb(126, 110, 68);
}

#highbar nav ul li {
    padding: 3px 0px;
    margin: 0 auto;
}

#visibl {
    animation: anim 2s
}

body {
    font-family: 'Nunito', sans-serif;
}

@keyframes anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

hr {
    background-color: coral;
    height: 7px;
    margin: 0;
}

#highbar a.button {
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 100%;
}

a.button {
    display: inline-block;
    background: rgb(61, 57, 44);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 25px;
    line-height: 1;
    position: relative;
    font-weight: 100;
    transition: 300ms;
}

a.button:hover {
    color: rgb(104, 104, 104);
    background-color: rgb(41, 24, 0);
    transition: 300ms;
}

p {
    font-size: 23px;
    transition: 300ms;
}

.clear {
    clear: both;
}

@media screen and (max-width:900px) {
    html {
        transition: all 300ms
    }
    #head {
        height: 200px;
    }
    a.button {
        font-size: 18px;
    }
    #highbar {
        padding: 1px;
    }
    p {
        font-size: 18px;
    }
    #bar nav ul li {
        flex-basis: 300px;
    }
}