@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

#head {
    transition: 300ms;
    background: url('img/channels4_banner.jpg') 54% center/cover no-repeat;
    height: 300px;
}


@keyframes left {
    from {
        margin-left: 2000px;
    }

    to {
        margin-left: 0;
    }
}

#highbar nav ul {
    list-style: none;
}

#highbar nav {
    width: fit-content;
    margin: 0 auto;
}

ul {
    padding-inline-start: 0px;
}

#highbar {
    transition: 300ms;
    width: 100%;
    padding: 1px;
    background-color: rgb(126, 110, 68);
}

#highbar nav ul li {
    padding: 3px 0px;
    margin: 0 auto;
}

#visibl {
    animation: anim 2s
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0
}

@keyframes anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

hr {
    border: 1px solid coral;
    background-color: coral;
    height: 7px;
    margin: 0;
}

#highbar a.button {
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 100%;
}

a.button {
    display: inline-block;
    background: rgb(61, 57, 44);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 25px;
    line-height: 1;
    position: relative;
    font-weight: 100;
    transition: 300ms;
    margin: 10px auto;
}

a.button:hover {
    color: rgb(104, 104, 104);
    background-color: rgb(41, 24, 0);
    transition: 300ms;
}

p {
    font-size: 23px;
    transition: 300ms;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.clear {
    clear: both;
}

@media screen and (max-width:900px) {
    html {
        transition: all 300ms
    }

    #head {
        height: 200px;
    }

    a.button {
        font-size: 18px;
    }

    #highbar {
        padding: 1px;
    }

    p {
        font-size: 18px;
    }

    #bar nav ul li {
        flex-basis: 300px;
    }

    #footer li {
        margin: 5px 10px;
    }

    #center {
        flex-direction: column
    }
}

a.caps {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
}

footer {
    background-color: rgb(126, 110, 68);
    padding: 40px 50px;
}

footer ul {
    list-style-type: none;
}

#social {
    margin-top: 30px
}

#social li {
    margin: 0 10px;
    display: inline-block;
}

#social li a {
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: block;
}

footer p {
    text-align: center;
    font-size: 14px;
    color: white
}

footer div {
    display: flex;
    justify-content: space-around
}

a.fb {
    background: url('imgfoot/fb_gray.png') center/cover no-repeat;
    transition: 300ms;
}

a.fb:hover {
    background: url('imgfoot/fb.png') center/cover no-repeat;
    transition: 300ms;
}

a.yt {
    background: url('imgfoot/youtube_gray.png') center/cover no-repeat;
    transition: 300ms;
}

a.yt:hover {
    background: url('imgfoot/youtube.png') center/cover no-repeat;
    transition: 300ms;
}

a.ins {
    background: url('imgfoot/insta_gray.png') center/cover no-repeat;
    transition: 300ms;
}

a.ins:hover {
    background: url('imgfoot/insta.png') center/cover no-repeat;
    transition: 300ms;
}

a.caps:hover {
    text-decoration: underline black;
}

.page {
    color: rgb(160, 160, 160);
    margin: 5rem 90px 30px;
    font-size: 20px;
    transition: 300ms
}

h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

@media screen and (max-width:600px) {
    .page {
        margin: 3rem 40px 1.5rem;
        transition: 300ms
    }

}

h2 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}