@media screen and (min-width: 600px) {
    .task {
        width: 80%;
        transition: 300ms
    }
}

.res {
    margin: 0.5rem 0rem 0.5rem 2px;
    font-size: 17px;
}

#exe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.res span {
    margin-left: 10px;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 8px;
    padding: 2px 90px 2px 5px;
    font-size: 15px;
    background-color: white;
    font-weight: bold;
    line-height: 2;
}

.task {
    margin-left: 1rem;
    width: 90%;
    margin-top: 1rem;
    background-color: rgba(219, 219, 219, 0.685);
    padding: 5px;
    border: 1px solid rgb(21, 50, 95);
    border-radius: 10px;
    transition: width 300ms;
}

input {
    border-radius: 5px;
    margin-bottom: 5px;
}

input:active {
    border: 1px solid rgba(0, 0, 0, 0.562);
    border-radius: 5px;
}

button {
    margin: 5px 10px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.521);
    border-radius: 7px;
}

button:hover {
    background-color: rgba(158, 158, 158, 0.459);
    cursor: pointer;
}



@media screen and (min-width: 700px) {
    .task {
        width: 70%;
        transition: 300ms
    }
}

@media screen and (min-width: 900px) {
    .task {
        width: 65%;
        transition: 300ms
    }
}

@media screen and (min-width: 1100px) {
    .task {
        width: 55%;
        transition: 300ms
    }
}

@media screen and (min-width: 1300px) {
    .task {
        width: 45%;
        transition: 300ms
    }
}

@media screen and (min-width: 1500px) {
    .task {
        width: 35%;
        transition: 300ms
    }
}