body {
    background-color: darkslategray;
}

img {
    width: 100px;
    transition: 300ms;
    margin: 0px 30px 0px 90px;
}



#main {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 60px;
    color: white;
    font-weight: 1000;
    margin: 0px 90px 60px;
    transition: 300ms
}

#main div {
    margin: 0px 40px 0px 0px;
    transition: 300ms
}

#main div p {
    color: rgb(146, 146, 146);
    font-size: 17px;

}

#main div a {
    color: white;
    font-size: 18px;
}

#main div a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.flex {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex div {
    flex: 1;
    min-width: 137px;
    margin: 10px 0 0 15px;
}

#main {
    margin-bottom: 50px;
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 30px;
        margin: 0px 40px 60px;
        transition: 300ms
    }

    #main img {
        margin: 0px 30px 0px 40px;
        transition: 300ms;
    }

    #main div p {
        font-size: 17px;
        transition: 300ms
    }

    #main div {
        margin: 0px 0px 15px 0px;
        transition: 300ms
    }

    .page {
        margin: 80px 40px 30px;
        transition: 300ms
    }

}