.res {
    margin: 0.5rem 0rem 0.5rem 2px;
    font-size: 17px;
    display: flex;
}

#colholder {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.colplace>div {}

#container {
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
    width: 45px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-size: 40px;
    padding-left: 2px;
}

#btnup {
    border-bottom: 1px solid black;
}

#btnplace>div {
    width: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#btnplace {
    border-left: 1px solid black;
    font-size: 20px;
}



#exe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
    border: 1px solid rgba(0, 0, 0, 0.664);
}

.task .res .resd {
    margin: 0 10px 0 10px;
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 38%);
    border-radius: 8px;
    background-color: white;
    font-weight: bold;
    line-height: 1.5;
    min-width: 6rem;
    padding: 0 5px 0 5px;
    display: flex;
    align-items: center
}

.task {
    margin: 1rem 1rem 0 1rem;
    width: 90%;
    background-color: rgba(219, 219, 219, 0.685);
    padding: 5px;
    border: 1px solid rgb(21, 50, 95);
    border-radius: 10px;
    transition: width 300ms;
}

input {
    border-radius: 5px;
    background: #f9f9f9;
    color: #515151;
    padding: 4px 7px;
    margin-bottom: 7px;
    border: 1px solid #ccc;
}


button {
    margin-top: 5px;
    border-radius: 5px;
    background: #f9f9f9;
    color: #515151;
    padding: 2px 7px;
    margin-bottom: 7px;
    border: 1px solid #ccc;
    transition: 300ms;
}

button:hover {
    background-color: rgba(158, 158, 158, 0.459);
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .task {
        width: 80%;
        transition: 300ms
    }


}

@media screen and (min-width: 700px) {
    .task {
        width: 70%;
        transition: 300ms
    }
}

@media screen and (min-width: 900px) {
    .task {
        width: 65%;
        transition: 300ms
    }
}

@media screen and (min-width: 1100px) {
    .task {
        width: 55%;
        transition: 300ms
    }
}

@media screen and (min-width: 1300px) {
    .task {
        width: 45%;
        transition: 300ms
    }
}

@media screen and (min-width: 1500px) {
    .task {
        width: 35%;
        transition: 300ms
    }
}

#com {
    display: flex;
    flex-direction: column
}

#com>textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
}

#addcom>p {
    font-size: 15px;
    font-weight: bold;
}

#addcom>button {
    width: 100%;
}

#colplace {
    display: flex;
}

#colplace>div {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.norm {
    height: 2px;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.white {
    background-color: white;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}