#frdi {
    color: aliceblue;
    background-color: rgb(237, 158, 174);
    padding: 10px 10px
}

ol {
    list-style-position: inside;
    padding-inline-start: 0px;
}

li {
    background-color: rgb(198, 99, 118);
    padding: 10px 10px;
    margin: 10px 0px
}

li span {
    padding: 10px 7px;
    background-color: rgb(158, 53, 74)
}