#visibl ul {
    list-style-position: inside;
    list-style-image: url(../img/unchecked_16.png);
}

#visibl li {
    background-color: rgb(165, 204, 218);
    padding: 10px 20px;
}

#visibl li::after {
    content: "x";
    color: red;
    margin-left: 20px;
    font-weight: 900;
    text-decoration: none;
}

#visibl span li span {
    text-decoration: line-through;
}

#visibl span li {
    background-color: rgb(226, 226, 226);
    list-style-image: url(../img/checked_16.png);
}

#visibl li:nth-child(even) {
    background-color: rgb(173, 216, 230);
}