#visibl body {
    background-color: #f7f7f7;
}

#menu {
    display: flex;
}

#visibl span {
    color: white;
    padding: 0 50px 0 0;
    font-size: 20px;
    transition: 300ms;
}

#visibl img {
    width: 100px;
    padding: 0 10px 0 10px;
    transition: 300ms;
}

#visibl a {
    display: flex;
    align-items: center;
}

#visibl li {
    padding-right: 50px;
    list-style: none;
    background: darkgrey;
}

#visibl li:hover {
    background: grey;
}

@media screen and (max-width:900px) {
    #visibl img {
        width: 50px;
        transition: 300ms
    }
    #visibl span {
        font-size: 15px;
        transition: 300ms;
    }
}