body {
    background-color: #f7f7f7;
}

#menu {
    display: flex;
}

span {
    color: white;
    padding: 0 50px 0 0;
    font-size: 20px;
    transition: 300ms;
}

img {
    width: 100px;
    padding: 0 10px 0 10px;
    transition: 300ms;
}

a {
    display: flex;
    align-items: center;
}

li {
    padding-right: 50px;
    list-style: none;
    background: darkgrey;
}

li:hover {
    background: grey;
}

@media screen and (max-width:900px) {
    img {
        width: 50px;
        transition: 300ms
    }
    span {
        font-size: 15px;
        transition: 300ms;
    }
}