figure {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background: #4070a7;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}


.cats {
    display: flex;
    flex-direction: column;
}

#cura {
    display: none;
}

h1 {
    padding-bottom: 2rem;
}

figcaption {
    text-align: center;
    padding: 0.6rem;
    color: white;
    font-size: 15px
}

img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mainFlex {
    display: flex;
    flex-direction: column-reverse;
}

@media screen and (min-width: 600px) {
    figure {
        margin: 10px 5px 10px 5px;
        width: 50%;
    }

    .cats {
        align-items: flex-start;
        flex-direction: row
    }
}

@media screen and (min-width: 800px) {
    figure {
        margin-bottom: 10px;
        width: 100%;
    }

    .mainFlex {
        display: block;
    }


    h1 {
        display: inline;
    }

    .text {
        padding-top: 1rem;
    }

    .cats {
        width: 30%;
        flex-direction: column;
        margin-left: 10px;
        float: right;
    }
}