#bar {
    height: 100%;
    float: left;
}

#bar nav ul {
    list-style: none;
}

#bar nav ul li {
    padding: 5px 0px;
    margin: 0 auto;
}

.button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}