.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center
}

.container hr {
    height: 1px
}

p {
    font-size: 20px;
    margin: 25px 40px 10px;
    line-height: 1.8em;
    font-weight: bold;
}

o {
    font-size: 20px;
    opacity: 0.5;
    font-weight: bold;
}

h1 {
    font-size: 50px;
    height: 1.3em;
    margin-top: 20px;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    padding: 40px 0px 10px;
}

.container {
    margin: 100px 10px;
    box-shadow: 0px 0px 29px 0px rgba(34, 60, 80, 0.73);
    text-align: center;
    transition: transform 1s;
    border-radius: 10px;
    width: 325px;
}

.container:hover {
    transform: scale(1.1);
    transition: 1s
}

.red {
    border: 1px solid red;
    background-color: red;
}

.green {
    border: 1px solid green;
    background-color: green;
}

.orange {
    border: 1px solid orange;
    background-color: orange;
}

.blue {
    border: 1px solid blue;
    background-color: blue;
}

.main a:hover {
    opacity: 0.5;
    cursor: pointer;
}

.main a {
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    line-height: 1;
    position: relative;
    font-weight: bold;
    transition: 300ms;
    margin: 30px auto;
}