h1 {
    text-align: center;
}

h2 {
    text-align: center
}

p {
    line-height: 30px;
    padding: 0px 50px
}

#main {
    margin: 0 auto;
    width: 100px;
    width: 90%;
    padding: 10px 0px;
    background-color: rgb(214, 214, 214)
}

p span {
    color: brown;
    background-color: rgb(221, 221, 211);
}

code {
    color: brown;
    white-space: pre-wrap;
}

code span {
    color: black
}

u {
    text-decoration: underline dashed;
}

#tag span {
    color: rgb(27, 114, 155)
}

@media screen and (max-width:900px) {}